<div class="tasks-list-wrapper">
    <ul class="tasks-list">
        <li class="single-task" *ngFor="let todo of todoStore.todosFilter()">
            <input type="checkbox" [checked]="todo.isCompleted" (change)="complete(todo.id)" class="task-completion-checkbox"/>
            <span class="task-name" [ngClass]="{'completed': todo.isCompleted}">{{todo.title}}</span>
            <img src="../../assets/icon-cross.svg" height="16" width="16" class="task-delete-button" (click)="remove(todo.id)">
        </li>
    </ul>
    <div class="tasks-actions-wrapper">
        <span class="tasks-action">{{todoStore.remainingTodos()}} items left</span>
        <span class="tasks-action" (click)="todoStore.filter='all'">All</span>
        <span class="tasks-action" (click)="todoStore.filter='active'">Active</span>
        <span class="tasks-action" (click)="todoStore.filter='completed'">Completed</span>
        <span class="tasks-action" (click)="clearComplete()">Clear Completed</span>
    </div>
</div>
