<div class="tasks-list-wrapper">
    <ul class="tasks-list">
        <li class="single-task">
            <input type="checkbox" class="task-completed-checkbox"/>
            <span class="task-name">Complete a tutorial</span>
            <img src="../../assets/icon-cross.svg" height="16" width="16" class="task-delete-button">
        </li>
        <li class="single-task">
            <input type="checkbox" class="task-completed-checkbox"/>
            <span class="task-name">Complete a tutorial</span>
            <img src="../../assets/icon-cross.svg" height="16" width="16" class="task-delete-button">
        </li>
        <li class="single-task">
            <input type="checkbox" class="task-completed-checkbox"/>
            <span class="task-name">Complete a tutorial</span>
            <img src="../../assets/icon-cross.svg" height="16" width="16" class="task-delete-button">
        </li>
        <li class="single-task">
            <input type="checkbox" class="task-completed-checkbox"/>
            <span class="task-name">Complete a tutorial</span>
            <img src="../../assets/icon-cross.svg" height="16" width="16" class="task-delete-button">
        </li>
        <li class="single-task">
            <input type="checkbox" class="task-completed-checkbox"/>
            <span class="task-name">Complete a tutorial</span>
            <img src="../../assets/icon-cross.svg" height="16" width="16" class="task-delete-button">
        </li>
    </ul>
    <div class="tasks-actions-wrapper">
        <span class="tasks-action">X items left</span>
        <span class="tasks-action">All</span>
        <span class="tasks-action">Active</span>
        <span class="tasks-action">Completed</span>
        <span class="tasks-action">Clear Completed</span>
    </div>
</div>
